@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать</h1>
    <p>в приложение для работы с базой данных кинотеатра. <a href="https://github.com/HomazavrR/CinemaWebApp">GitHub репозиторий</a>.</p>
</div>
<div class="row">
    <div class=" = col-md-2">
        <h1 class="display-4"><a class="btn" href="https://localhost:44314/Должности">Должности</a></h1>
    </div>
    <div class=" = col-md-2">
        <h1 class="display-4"><a class="btn" href="https://localhost:44314/Жанры">Жанры</a></h1>
    </div>
    <div class=" = col-md-2">
        <h1 class="display-4"><a class="btn" href="https://localhost:44314/Места">Места</a></h1>
    </div>
    <div class=" = col-md-2">
        <h1 class="display-4"><a class="btn" href="https://localhost:44314/Репертуары">Репертуары</a></h1>
    </div>
    <div class=" = col-md-2">
        <h1 class="display-4"><a class="btn" href="https://localhost:44314/Сотрудники">Сотрудники</a></h1>
    </div>
    <div class=" = col-md-2">
        <h1 class="display-4"><a class="btn" href="https://localhost:44314/Фильмы">Фильмы</a></h1>
    </div>
</div>
