@page
@model CinemaWebApp.Pages.Места.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Добавить</h1>

<h4>Место</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Место.НомерМеста" class="control-label"></label>
                <input asp-for="Место.НомерМеста" class="form-control" />
                <span asp-validation-for="Место.НомерМеста" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Место.Занятость" class="control-label"></label>
                <input asp-for="Место.Занятость" class="form-control" />
                <span asp-validation-for="Место.Занятость" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Место.КодСотрудника" class="control-label"></label>
                <input asp-for="Место.КодСотрудника" class="form-control" />
                <span asp-validation-for="Место.КодСотрудника" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Место.КодСеанса" class="control-label"></label>
                <select asp-for="Место.КодСеанса" class ="form-control" asp-items="ViewBag.КодСеанса"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Назад к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
